
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 20px;
}

.main-container {
    background-color: #e0f7fa; /* Fondo celeste suave */
    padding: 15px;
    border-radius: 10px;
}

.box {
    color: white;
    padding: 15px;
    font-weight: bold;
    border-radius: 5px;
    text-transform: capitalize;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1); /* Un toque de relieve */
}

/* Colores únicos por caja */
.h-1 { background-color: #f44336; 
       height: 60px; 
} /* Rojo */

.h-2 { background-color: #4caf50;
         height: 160px; 
    } /* Verde */

.h-3 { background-color: #2196f3; 
         height: 60px;
} /* Azul */

.h-4 { background-color: #9c27b0; /* Morado */
       height: 110px;
} /* Morado */

.h-5 { background-color: #ff9800; 
       height: 280px;
} /* Naranja */

.h-6 { background-color: #00bcd4; 
       height: 60px;
} /* Cian */

.h-7 { background-color: #e91e63; 
         height: 60px;
    /* Rosa */
}

.h-8 { background-color: #607d8b; 
       height: 280px;
} /* Azul grisáceo */

.h-9 { background-color: #795548;
       height: 60px;
} /* Marrón */

.h-10 { background-color: #3f51b5;
        height: 60px;
} /* Índigo */
