body {
    font-family: "Poppins", Arial, sans-serif;
    background: #ffe6f2;
    margin: 0;
    padding: 30px;
    color: #4a4a4a;
}

.container {
    max-width: 900px;
    margin: auto;
    background: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(255, 105, 180, 0.3);
}


h1, h2, h6 {
    color: #d63384;
    font-weight: 700;
}

h1 {
    font-size: 32px;
    margin-bottom: 5px;
}

h2 {
    border-left: 6px solid #ff66b2;
    padding-left: 10px;
    margin-top: 40px;
}

hr {
    border: none;
    height: 2px;
    background: #ffb6d9;
    margin: 8px 0 18px 0;
}


img {
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(255, 105, 180, 0.4);
}


p {
    line-height: 1.6;
    font-size: 15px;
}

ul {
    background: #ffe6f2;
    padding: 15px 25px;
    border-radius: 10px;
    box-shadow: inset 0 0 8px rgba(255, 105, 180, 0.15);
}

ul li {
    padding: 5px 0;
}

p.contacto {
    font-weight: 600;
    color: #b30059;
}


td {
    padding: 10px;
    vertical-align: top;
}


table {
    width: 100%;
}