* { 
  box-sizing: border-box; 
  margin: 0; 
  padding: 0; 
}

.box {
  width: 420px;
  padding: 18px;
  border: 2px dashed rgb(0, 0, 0);
  margin: 0 auto;
  background: #d19ab0;
  font-family: Arial, sans-serif;
}