* { 
  box-sizing: border-box; 
  margin: 0; 
  padding: 0; 
}

.card {
  width: 300px;
  padding: 20px;
  border: 2px solid #0e030d;
  background: #ce83a1;
  font-family: "Poppins", Arial, sans-serif;
  line-height: 1.4;
}

.card h3 { 
  margin-bottom: 8px; 
}

.card p  { 
  font-size: 14px; 
  color: #444; 
}